@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #1b1b32;
  background-image: linear-gradient(115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin: 2.5rem 0 0;
  font-weight: 400;
}

p {
  margin: 0 auto .5rem auto;
  font-weight: 200;
}

form {
  width: 100%;
  max-width: 720px;
  margin: 2rem auto 0 auto;
  padding: 30px 20px;
  background-color: rgba(27, 27, 50, 0.8);
  /* background-color: #fff; */
  border-radius: .25rem;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .4);
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 6px;
}

.form-control input,
.form-control select,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #777;
  border-radius: .25rem;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

small {
  color: #e4e4e4;
}

textarea {
  min-height: 150px;
  padding: 0.625rem;
  resize: vertical;
}

button {
  background-color: #05c46b;
  color: #fff;
  margin-bottom: .625rem;
  padding: .75rem;
  font-family: inherit;
  border: none;
  border-radius: .25rem;
  /* display: block; */
  width: 100%;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}
