@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #4ecdc4;
  --secondary-color: #ff6b6b;
  --tertiary-color: #ffe66d;
  /* hover .6 */
  --dark-color: #292f36;
  --light-color: #f7fff7;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  /* scroll-behavior: smooth; */
}

nav a {
  color: var(--light-color);
  text-decoration: none;
}

/* nav a:hover {
  text-decoration: underline;
} */

.nav-brand {
  flex: 1;
}

.nav-brand a:hover,
nav a:hover {
  color: var(--primary-color);
  /* text-decoration: none; */
}

.nav-brand a,
.toggle a {
  font-size: 2rem;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: var(--dark-color);
  opacity: .9;
  /* list-style-type: none; */
}

.nav-menu li {
  padding: 1.6rem 1.5rem;
  font-size: 1.6rem;
  white-space: nowrap;
}

.nav-item {
  display: block;
  width: auto;
}

.nav-item.active {
  display: block;
}

/* .toggle {
  display: block;
} */

/* Mobile: 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }

  .nav-item {
    display: none;
    width: 100%;
    text-align: center;
    order: 2;
  }

  /* .nav-item.active {
    display: block;
  } */

  /* Toggle Nav */
  .toggle {
    cursor: pointer;
  }

  .bars {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--secondary-color);
    transition: background .2s ease-out;
  }

  .bars:before,
  .bars:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--tertiary-color);
    transition: all .2s ease-out;
  }

  .bars:before {
    top: 5px;
  }

  .bars:after {
    top: -5px;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* Tablet: 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }

  .nav-menu {
    justify-content: center;
  }

  .nav-brand {
    flex: 1;
  }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('./img/background.jpg') no-repeat center center/cover;
  color: var(--light-color);
}

header::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #000;
  opacity: .6;
}

header * {
  position: relative;
  z-index: 1;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

header p {
  font-size: 3rem;
}

section {
  padding: 5rem;
  text-align: center;
}

/* section h2, */
section p {
  margin-bottom: 2rem;
}

section.bg-primary {
  background-color: var(--primary-color);
}

section.bg-secondary {
  background-color: var(--secondary-color);
}

section.projects h2 {
  padding-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
}

.project {
  max-width: 500px;
}

.project-img {
  max-width: 100%;
}


.contact-ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.contact-ul a {
  margin: 2rem 1rem;
  color: var(--dark-color);
  font-size: 3rem;
}

footer {
  padding: 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}
