@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

/* CSS Variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #252529;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 2rem 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .video-wrapper iframe {
  max-width: 90%;
  max-height: 90%;
} */

a {
  color: #ccc;
  text-decoration: none;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  margin: 0;
  font-size: 2.5rem;
}

.section h3 {
  font-size: 2rem;
}

section#podcast {
  padding: 10rem 0;
  background: url('./img/section-bg.jpg') no-repeat center/cover;
}

.gift-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

/* Showcase */
#showcase {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: #000;
  background: url("./img/showcase.jpg") no-repeat center/cover;
}

#showcase .container {
  margin-top: 25vh;
}

#showcase h1 {
  margin-bottom: 0;
  font-size: 4rem;
}

#showcase h2 {
  font-size: 2rem;
}

/* Footer */
footer .footer-cols {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  font-size: 14px;
  text-align: left;
}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #444;
}

footer .footer-bottom {
  background-color: #333;
  padding: 1rem;
}

/* Utilities */
.container {
  max-width: 1180px;
  padding: 0 3rem;
  margin: 0 auto;
  text-align: center;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1rem;
  color: #fff;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #333;
  color: #eee;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 10px 0;
  color: #eee;
  text-align: center;
  text-decoration: none;
}

nav li:hover {
  background-color: #444;
}

nav a#openup {
  display: none;
}

nav ul .logo {
  position: absolute;
  top: 2px;
  left: 2px;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav li {
    position: relative;
    float: left;
    width: 100%;
  }

  nav a {
    width: 100%;
    background: #333;
    border-bottom: 1px solid #555;
    text-align: left;
    text-indent: 25px;
  }

  nav a:hover {
    background: #444;
  }

  nav a#openup:after {
    position: absolute;
    top: 20px;
    right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
  }

  nav a#openup {
    position: relative;
    display: block;
    width: 100%;
    background-color: #333;
  }
}

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

@media screen and (max-width: 780px) {
  .gift-cards {
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}


ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555;
  color: #333;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  /* same as flex-grow: 1; */
}

.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem
    /*200px*/
  ;
}

/*477px*/
@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-around;
  }
}

/*1240px*/
@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}


form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
  /* same as flex-grow: 1; */
}
